# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Build output
/build/
/build_pcl_cov/
/build-coverage/

# Coverage artefacts
*.gcov
*.gcda
*.gcno
coverage.html
coverage*.html
coverage_pcl/
coverage_tactical_objects/
coverage_pcl_temp/
coverage_tobj_temp/
build-coverage-pcl/
build-coverage-tactical_objects/

# CMake
CMakeUserPresets.json

# Log
log/*
install/*
build_errors.log

# Ada build output
examples/ada/obj_tests/*
examples/ada/obj/*
examples/ada/bin/*

# References
ref/*

# Visual Studio
.vs/*
out/

# Ada build output
examples/ada/obj_tobj_client/*ali
examples/ada/obj_tobj_client/*o
examples/ada/obj_tobj_client/*bexch
examples/ada/obj_tobj_client/*stderr
examples/ada/obj_tobj_client/*stdout
examples/ada/obj_tobj_client/*deps
examples/ada/obj_tobj_client/b__*

